<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/errstyles.css" />
  </head>
  <body>
    <div class="combo">
      <div class="alert success">
        <span class="username">
          <h3><%=curusername%></h3>
          <strong>Danger! <%=status%> </strong><%=message%>
        </span>
      </div>
      <div class="btn">
        <a href="/">Try again..</a>
      </div>
    </div>
  </body>
</html>
