<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/welstyles.css" />
  </head>
  <body>
    <div class="combo">
      <div id="success" class="alert success">
        <strong>Success! <%=status %> </strong> you are successful Login
        with.....
      </div>
      <div class="credentials">
        <h1 class="username"><strong>Username: </strong><%=username%></h1>
        <h1 class="username"><strong>Password: </strong><%=pass%></h1>
      </div>
      <div class="btn">
        <a href="/">Logout..</a>
      </div>
    </div>
    <script src="/js/weljs.js"></script>
  </body>
</html>
